<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Liberator</title>
    <link rel="stylesheet" href="../assets/index.css" />
    <link
      rel="icon"
      href="../constants/images/pngfind.com-medical-png-832303.png"
    />
  </head>
  <body>
  
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>

     <div class="container">

        <div class="intro">
            <div class="intro_text">
                <h1 class="hide">
                    <img class="text" src="https://api.listnride.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBclY2IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c8262c49c4d6a2edd2cbf21ce3a8e53301a40134/LOGO_ANGELL_%232_RVB%20blanc%201.png" alt="logo_canal" style="width: 8em;"> 
                </h1>
                <h1 class="hide">
                    <span class="text">Angell Bike</span>

                </h1>
                <h1 class="hide">
                    <span class="text">Plus qu'un vélo.</span>

                </h1>
                <h1 class="hide">
                    <span class="text"> Une révolution</span>

                </h1>

                
            </div>

        </div>
        <div class="slider"></div> -->
        
    <div class="banner_component">
      <div class="navigation_container">
        <div class="logo_container">
          <img
            class="logo_png"
            src="../constants/images/pngfind.com-medical-png-832303.png"
            alt="logo"
          />
          <h1>Doctor Liberator</h1>
        </div>
        <div class="navigation">
          <ul class="nav_list">
            <li class="nav_list_child">
              <a class="who_are_we" href="../components/inProgress.html">Who are we ?</a>
            </li>
            <li class="nav_list_child">
              <a class="need_help" href="../components/inProgress.html">Need help ?</a>
            </li>
            <li class="nav_list_child">
              <a class="log_in" href="login.html">Log in</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="center_part">
        <h1 class="main_title">
          Book a physical or video consultation with a healthcare professional
        </h1>
        <form class="search_form" action="../components/inProgress.html">
          <input
            class="form_input"
            type="text"
            placeholder="Search by doctor name, specialisation..."
          />
          <input class="form_input2" type="text" placeholder="Where ?" />
          <input class="form_input3" type="submit" value="search" />
        </form>
      </div>
    </div>
    <div class="background_component">
      <div class="pop_up_banner">
        <h3 class="pop_up_title">Informations</h3>
        <div class="_banner_grid">
          <div id="card1" class="card">
            <h4>Vaccination : online booking</h4>
            <p>
            	<br>
              	Many slots are available throughout France. As the time between
                2 doses is shortened, you can be fully vaccinated before the end 
                of July.
                <br>
                Adults and minors 12-17 years old are eligible for vaccination. 
                Find out more.
            </p>
            <button class="book_appoint" onclick="window.location.href='../components/login.html'">Book an appointment</button>
          </div>
          <div id="card2" class="card">
            <h4>Together, let's take up the #Vaccination Challenge</h4>
            <p>
              	Vaccination against COVID-19 is a major public health challenge:
                we all have a role to play.
				<br>
                Click on the button below to access #Vaccination Challenge 
                statistics and understand everything about the campaign.
            </p>
            <button class="book_appoint" onclick="window.location.href='../components/inProgress.html'">Access statistics</button>
          </div>
          <div class="card">
            <h4>Confidentiality: Doctor lib is committed</h4>
            <p>
            	<br>
              	Your personal data forms the basis of your privacy. This is why 
                ensuring their confidentiality is an absolute priority for Doctolib.
				<br>
                Here are our 4 commitments to give your privacy the protection it 
                deserves.
            </p>
            <button class="book_appoint" onclick="window.location.href='../components/inProgress.html'">Discover our engagments</button>
          </div>
        </div>
      </div>
      <div class="arguments_grid_block">
        <h2>Why book with Doctor Liberator ?</h2>
        <div class="arguments_grid">
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card1.png"
              alt=""
            />
            <h4>
              Access the availability of tens thousands healthcare 
              professionals.
            </h4>
          </div>
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card2.png"
              alt=""
            />
            <h4>
              Make an appointment online, 24/7, for a physical or 
              video consultation.
            </h4>
          </div>
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card3.png"
              alt=""
            />
            <h4>
              Receive automatic reminders by SMS or email.
            </h4>
          </div>
        </div>
      </div>
      <div class="opinion_grid_block">
        <h2>Doctor Liberator, it's...</h2>
        <div class="opinion_grid">
          <div class="opinion_grid_card" id = "opinion_grid1">
            <span class = "opinion_grid_card_bold">50 millions</span>
            patients
          </div>
          <div class="opinion_grid_card" id = "opinion_grid2">
            <span class = "opinion_grid_card_bold">150 000</span>
            Health professionnals
          </div>
          <div class="opinion_grid_card">
            <span class = "opinion_grid_card_bold">97%</span>
            Positive reviews
          </div>
        </div>
      </div>
      <div class="who_are_we_block">
        Doctor Liberator, you favorite online booking plateform since 2007.
        <strong>Find out more about us !</strong> 
        <button id = "knowmore" onclick="window.location.href='../components/inProgress.html'">Know more</button>
      </div>
      <br><br><br>
      
      <div class="footer">

            <div class="media">
                <ul>
                    <li>
                        <a class="blue" href="inProgress.html">
                            <img src="https://thumb.canalplus.pro/static/footerfacebook.svg" alt="decoder" style="width: 1.5em;"> 
                        </a>
                    </li>
                    <li>
                        <a class="cyan" href="inProgress.html">
                            <img src="https://thumb.canalplus.pro/static/footertwitter.svg" alt="mobile" style="width: 1.5em;"> 
                        </a>
                    </li>
                    <li>
                        <a class="blue2" href="inProgress.html">
                            <img src="https://thumb.canalplus.pro/static/footerdailymotion.svg" alt="xbox" style="width: 1.5em;"> 
                        </a>
                    </li>
                    <li>
                        <a class="red" href="inProgress.html">
                            <img src="https://thumb.canalplus.pro/static/footeryoutube.svg" alt="xbox" style="width: 1.5em;"> 
                        </a>
                    </li>
                   
                </ul>
                <br>
                <a href="inProgress.html" class="button_contactUS">Contact us</a>
                <a href="inProgress.html" class="button_database">Assistance</a>
                

            </div>

        </div>
    </div>
    
    
        
  </body>
  
 
  
 <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
    integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
    crossorigin="anonymous"
></script>
<script src="../assets/animationIndex.js"></script>

</html>
